<div class="card mb-3 border shadow-0">
  <div class="card-body">
    <form>
      <div class="form-group">
        <label class="form-label">Have coupon?</label>
        <div class="input-group">
          <input type="text" class="form-control border" name="" placeholder="Coupon code" />
          <button class="btn btn-light border">Apply</button>
        </div>
      </div>
    </form>
  </div>
</div>