
{{dump(adressesLivraison)}}

{{dump(adressesFacturation)}}

<div class="border-top pt-4 mx-4 mb-4">
  <p><i class="fas fa-truck text-muted fa-lg"></i> Free Delivery within 1-2 weeks</p>
  <p class="text-muted">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip
  </p>
</div>