



<!-- FOOTER -->
<footer class="container pt-5">

      <p class="float-end"><a href="#"><i class="fa-solid fa-arrow-up-from-bracket"></i></a></p>
      <p>
          &copy; 2023 A&E Cookie Corner Company, Inc.  <br>
          <a href="" class="footerCgv">Règles de confidentialité publiques aux utilisateurs</a> 
          <br>
          <a href="" class="footerCgv">Conditions d'utilisation publiques aux utilisateurs</a>
    </p>
    
</footer>